* {
	font-family: "Roboto";
}
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	clear: left;
}
a:link {
	text-decoration: none;
}
section {
	padding-top: 10px;
}
img.header {
	float: left;
	width: 100px;
	padding-right: 10px;
	border-radius: 50%;
}
img.article {
	float: left;
	width: 100px;
	padding-right: 10px;
}
